[submodule "moe"]
	path = moe
	url = https://github.com/pomf/moe
[submodule "php"]
	path = php
	url = https://github.com/pomf/pomf-php
[submodule "expiry"]
	path = expiry
	url = https://github.com/pomf/pomf-expiry.git
