Eric Johansson <neku@pomf.se>
Eric Johansson <neku@pomf.se> nokonoko <petanull@gmail.com>
Eliot Whalan <ewhal@pantsu.cat> <contact@pantsu.cat>
Juuso Lapinlampi <wub@partyvan.eu>
alchimist <alchimist@nwa.xyz> cenci0 <alchimist94@gmail.com>
Austin Gillmann <alucard@cuntflaps.me>
